body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}

#calculator {
	display: flex;
	flex-direction: column;
	background-color: gray;
	padding: 10px;
	border-radius: 15px;
}

#screen {
	min-height: 80px;
	background-color: black;
	margin-bottom: 10px;
	border-radius: 10px;
	color: blanchedalmond;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 25px;
	background-color: rgb(160, 160, 160);
	border-radius: 10px;
	font-size: larger;
}

.digit {
	background-color: white;
}

.operation {
	background-color: rgb(192, 139, 241);
}

#backspace {
	grid-area: backspace;
	background-color: rgb(255, 255, 106);
}

#clear {
	grid-area: clear;
	background-color: tomato;
}

#divide {
	grid-area: divide;
}

#seven {
	grid-area: seven;
}

#eight {
	grid-area: eight;
}

#nine {
	grid-area: nine;
}

#multipl {
	grid-area: multipl;
}

#four {
	grid-area: four;
}

#five {
	grid-area: five;
}

#six {
	grid-area: six;
}

#subtrac {
	grid-area: subtrac;
}

#one {
	grid-area: one;
}

#two {
	grid-area: two;
}

#three {
	grid-area: three;
}

#addd {
	grid-area: addd;
}

#zeroo {
	grid-area: zeroo;
}

#decima {
	grid-area: decima;
}

#changeSign {
	grid-area: changeSign;
}

#equal {
	grid-area: equal;
	background-color: #72af16;
}

#buttons {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		'backspace backspace clear divide'
		'seven eight nine multipl'
		'four five six subtrac'
		'one two three addd'
		'zeroo decima changeSign equal';
}
